.item {
    list-style-type: none;
}



.header {
    display: flex;
}


.author {
    font-weight: bold;
    margin-right: 10px;
}


.date {
    font-size: small;
    color: grey
}


.list {
    list-style-type: none;
    padding: 0;
}


.children {
    padding-left: 20px;
}


.text {
    margin-top: 2px;
    margin-bottom: 15px;
}


