.card {
    border-radius: 8px;
    background-color: white;
    padding: 18px;
    padding-bottom: 4px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.paragraph {
    margin-bottom: 14px;
    margin-top: 0;
}