.form {
    display: flex;
}


.button {
    width: 100%;
    display: flex;
    flex-basis: min-content;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input {
    width: 100%;
    border-radius: 8px;
    min-height: 1px;
    outline: none;
    font-size: 14px;
    height: 17px;
    font-family: sans-serif;
    padding: 7px;
    margin-left: 8px;
    resize: none;
    border: 1px solid #006FBB;
}

.error {
    color: #ff0000;
    font-size: small;
    margin: 0;
}