.form {
    display: flex;
}


.button {
    width: 100%;
    display: flex;
    flex-basis: min-content;
    justify-content: flex-end;
}

.input {
    width: 100%;
    border-radius: 8px;
    min-height: 1px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    height: 18px;
    font-family: sans-serif;
    padding: 7px;
    margin-left: 8px;
    resize: none;
    border: 0.5px solid #006FBB;
}

.error {
    color: #ff0000;
    font-size: small;
    margin: 0;
}